* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 20px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F8C8DC;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
    font-family: 'Impact', 'Monaco', 'Lucida Console', 'Lucida Handwriting', sans-serif;
    margin-left: -20px;
    font-style: italic;
    background: rgb(236, 207, 168);
    padding: 10px 100px;
}
.header h1::after {
    content: 'SJ';
    color: white;
}


nav {
    display: inline-block;
    /*margin: 0px 20px;*/
    list-style-type: none;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav a:hover {
    color: grey;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 25px;
    font-family: 'Times New Roman', sans-serif;
} 


.photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/photo-of-me.jpg");
    background-size: cover;
    background-position: center;
}


.content {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    color: #ffffff;
    line-height: 50px;
}

.works {
    display: flex;
    flex-direction: row-reverse;
    max-height: 500px;
    
}

.sides {
    font-size: 70px;
    color: black;
}

.firstContainer p {
    margin-left: 110px;
    text-align: justify;
    font-size: 30px;
    background: tan;
    padding: 10px 70px;
}

.first img {
    position: relative;
    border: 10px solid black;
    width: 90%;
    margin-left: 10%;
    
}

.first img:hover {
    color: white;
}

.second img, .third img {
    border: 10px solid black;
    width: 60%;
    margin-left: 20%;
    
}

div ul {
    list-style-type: none;
}


div ul li {
    display: inline-block;
    margin: 13px 286px;
    list-style-type: none;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

div ul li a:hover {
    color: grey;
}
@media screen and (max-width: 992px) {
    .content {
        width:100%;
    }
}

/*@media screen and (max-width: 768px) {
    .content {
      width: 50%;
    }
  }